body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}



#desktop{
	background-image:url("pics/desktop.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	position: relative;
	height:640px;
	width: 1024px;
	margin:0 auto;
}

#toolBar{
	position: absolute;
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, .3);
	bottom:0px;
	
}

.toolImg{
	height: 40px;
	transition:0.5s;
	transform-origin:bottom left;
}
.toolImg:hover {
	transform: scale(2, 2);
}

#picsWindow{
	position:absolute;
	left:50px;
	top:20px;
	height:450px;
	width:430px;
	border:1px solid black;
	background-color:silver;
}

#main{
	overflow:auto;
	height:405px;
	
}

#top{
	width: 100%;
	height: 30px;
	background:gray;
	
}

#bot{
	position:absolute;
	bottom:0;
	width: 100%;
	height: 15px;
	background:gray;
}

.loadIcon{
	height:15px;
}

.loadP{
	position:absolute;
	left:20px;
	top:0;
	margin:0;
	font-size:80%;
	font-weight:lighter;
}

.topImg{
	height:30px;
	float:left;
}

.title{
	position:absolute;
	left:35px;
	top:5px;
	margin:0;
	font-weight:bold;
}

.closeImg{
	float:right;
	
}

.closeImg:hover{
	transform: scale(1.1, 1.1);
}

.imageDiv{
	float:left;
	margin:5px;
	border:1px solid black;
	text-align:center;
}

.imageDiv:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.imageImg{
	
	vertical-align:middle;
}

