body{
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0;
}

#container{
    width:700px;
    margin:0 auto;
    border:1px solid black;
    background-color:#418FBF;
}

#main{
    width:600px;
    margin:0 auto;
    
}

#logo{
   
}

#messageboard{
    width:600px;
    height:400px;
    background-color:#F2F2F2;
    border:1px solid black;
    overflow:auto;
    padding:5px;
}

#footer{
    height:175px;
    width:600px;
    margin:0 auto;
}
#messagecount{
    text-align:right;
    color:silver;
    font-size:80%;
}

#textarea{
    border:1px solid black;
    resize:none;
    margin:0 auto;
    background-color:#F2F2F2
}

#button{
    float:right;
    
}

.send{
    background-color:gray;
    border:1px solid black;
    margin:5px 0px 5px 0px;
}

.send img{
    float:right;
    margin:2px;
}

.send:nth-child(even){
    background-color:silver;
}

.date{
    font-size:80%;
    text-align:right;
}